a:-webkit-any-link {
  color: none;
  cursor: pointer;
  text-decoration: none;
}

p {
  font-family: Arial;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 0px;
}

.header {
  height: 55px;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  position: fixed;        
  background: #333;
  padding: 10px 0;
  color: #fff;
}

.bds-c-tabs__list {
  display: flex;
  /* list-style: none; */
  margin: 0;
  padding: 0;
  position: relative;
  width: fit-content;
}

.left-section {
  display: flex;
  align-items: center;
}

.website-logo {
  height: 40px;
  margin-left: 100px;
  margin-right: 50px;
  place-items: center;
}

.middle-section {
  background-color: pink;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(190, 190, 190);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
  font-family: Arial;
  font-size: 16px;
}

.right-section {
  width: 200px;
}

.loginorregister-button {
    background-color: #ffc400;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 8px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: opacity 0.15s, padding-left 0.15s, padding-right 0.15s, padding-top 0.15s, padding-bottom 0.15s;
  }

  .loginorregister-button a {
    color: #fff;
    text-decoration: none;
  }

.loginorregister-button:hover {
  opacity: 0.75;
  transform: scale(padding(1.2));
}

.loginorregister-button:active {
  opacity: 0.5;
}

.Notice {
  width: 100%;
  position: fixed;        
  background: #333;
  padding: 10px 0;
  margin-top: 55px;
  color: #fff;

  background-color: #ffc400;
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: normal;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.main {
  /*若沒有Notice，請把margin-top調至40px。（建議）*/
  /*若有Notice，請把margin-top調至100px。（建議）*/
  margin-top: 100px;
}

.title-text {
  font-family: Arial;
  font-size: 50px;
  font-weight: normal;
  color: black;
  padding-left: 20px;
  text-align: left;
}

.restaurant-thumbnail {
  width: 233px;
  height: 144px;
  object-fit: cover;
  font-family: Arial;
  font-size: 50px;
  font-weight: normal;
  color: black;
  text-align: left;
}

  .restaurant-thumbnail img {
    transition: transform 0.3s ease;
  }

  .restaurant-thumbnail:hover img {
    transform: scale(1.2);
  }

.restaurant-preview {
  margin-left:15px ;
  width: 233px;
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
  cursor: pointer;
  text-decoration: none;
}

.restaurant-name {
  text-align: left;
  margin-top: 10px;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.restaurant-type {
  text-align: left;
  margin-top: 0px;
  color: #333;
  text-decoration: none;
}

.Copyright {
  background-color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-family: Arial;
  color: white;
}